
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll" style="background-color: #000000;">
      <div class="container-fluid ">
        <a class="navbar-brand" style="color: #ffc600; font-weight: bold; margin-left: 22cm; font-size: 1.18cm;" href="#!">RapidCash</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
     <!--   <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto" >
            <li class="nav-item">
              <a class="nav-link" style="color: #000000; font-weight: bold;" href="#!">Prestatario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #000000; font-weight: bold" href="#!">Prestamista</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color: #000000; font-weight: bold" href="#!">Jefe Prestamista</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color: #000000; font-weight: bold" href="#!">Inversionista</a>
            </li>
          </ul>
        </div>-->
      </div>
      
    </nav>
    <!-- Navbar -->

    <!--Section: Design Block-->
    <section>
      <div id="intro" class="bg-image" style="
          background-image: url('https://i.pinimg.com/564x/9f/00/5e/9f005e0faa3fa6195bd1663f6735e2e6.jpg');
          height: 100vh;
        ">

 <!--   <div class="wrapper" style="margin-top: 2.5cm;">-->
        <!-- Sidebar  -->
     <!--  <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>
            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
        </nav>
--> 
        <!-- Page Content  -->
    <!-- <div id="content" class="container" style="background-color: aliceblue; margin-top: 2%; margin-bottom: 2%; margin-left: 13%;  max-width: 84%;">-->
          <!-- Contenido del contenedor aquí -->
      <!--</div>-->
    </div>
    
      
    </section>
    <!--Section: Design Block-->



